In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [14]:
demographic_df = pd.read_csv('./med_data/demographic.csv')
demographic_df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.52
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00

In [15]:
demographic_df.info()
demographic_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 47 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      10175 non-null  int64
 1   SDDSRVYR  10175 non-null  int64
 2   RIDSTATR  10175 non-null  int64
 3   RIAGENDR  10175 non-null  int64
 4   RIDAGEYR  10175 non-null  int64
 5   RIDAGEMN  673 non-null    float64
 6   RIDRETH1  10175 non-null  int64
 7   RIDRETH3  10175 non-null  int64
 8   RIDEXMON  9813 non-null   float64
 9   RIDEXAGM  4213 non-null   float64
 10  DMQMILIZ  6261 non-null   float64
 11  DMQADFC   543 non-null    float64
 12  DMDBORN4  10175 non-null  int64
 13  DMDCITZN  10171 non-null  float64
 14  DMDYRSUS  1908 non-null   float64
 15  DMDEDUC3  2803 non-null   float64
 16  DMDEDUC2  5769 non-null   float64
 17  DMDMARTL  5769 non-null   float64
 18  RIDEXPRG  1309 non-null   float64
 19  SIALANG   10175 non-null  int64
 20  SIAPROXY  10174 non-null  float64
 21  SIAINTRP  10175 non-null  int64
 22  FIALANG   10054 non-null  float64
 23  FIAPROXY  10054 non-null  float64
 24  FIAINTRP  10054 non-null  float64
 25  MIALANG   7311 non-null   float64
 26  MIAPROXY  7312 non-null   float64
 27  MIAINTRP  7313 non-null   float64
 28  AIALANGA  6317 non-null   float64
 29  DMDHHSIZ  10175 non-null  int64
 30  DMDFMSIZ  10175 non-null  int64
 31  DMDHHSZA  10175 non-null  int64
 32  DMDHHSZB  10175 non-null  int64
 33  DMDHHSZE  10175 non-null  int64
 34  DMDHRGND  10175 non-null  int64
 35  DMDHRAGE  10175 non-null  int64
 36  DMDHRBR4  9878 non-null   float64
 37  DMDHREDU  9881 non-null   float64
 38  DMDHRMAR  10052 non-null  float64
 39  DMDHSEDU  5342 non-null   float64
 40  WTINT2YR  10175 non-null  float64
 41  WTMEC2YR  10175 non-null  float64
 42  SDMVPSU   10175 non-null  int64
 43  SDMVSTRA  10175 non-null  int64
 44  INDHHIN2  10042 non-null  float64
 45  INDFMIN2  10052 non-null  float64
 46  INDFMPIR  9390 non-null   float64
dtypes: float64(28), int64(19)
memory usage: 3.6 MB

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
count,10175.000000,10175.0,10175.000000,10175.000000,10175.000000,673.000000,10175.000000,10175.000000,9813.000000,4213.000000,...,9881.000000,10052.000000,5342.000000,10175.000000,10175.000000,10175.000000,10175.000000,10042.000000,10052.000000,9390.000000
mean,78644.000000,8.0,1.964423,1.508305,31.484128,10.341753,3.091892,3.289828,1.508509,107.478519,...,3.502378,2.735078,3.612879,30585.180933,30585.180933,1.484128,110.926880,10.884983,10.505969,2.252153
std,2937.413829,0.0,0.185243,0.499956,24.421651,6.885479,1.263305,1.613241,0.499953,69.774776,...,1.251080,5.922690,1.321508,26948.427403,27941.005388,0.499773,4.260322,13.878864,13.643064,1.634907
min,73557.000000,8.0,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,3697.772098,0.000000,1.000000,104.000000,1.000000,1.000000,0.000000
25%,76100.500000,8.0,2.000000,1.000000,10.000000,5.000000,2.000000,2.000000,1.000000,45.000000,...,3.000000,1.000000,3.000000,12754.485277,12561.598665,1.000000,107.000000,5.000000,5.000000,0.870000
50%,78644.000000,8.0,2.000000,2.000000,26.000000,9.000000,3.000000,3.000000,2.000000,103.000000,...,4.000000,1.000000,4.000000,20232.999616,20174.573544,1.000000,111.000000,8.000000,7.000000,1.705000
75%,81187.500000,8.0,2.000000,2.000000,52.000000,16.000000,4.000000,4.000000,2.000000,166.000000,...,4.000000,4.000000,5.000000,36280.427224,36748.217798,2.000000,115.000000,14.000000,14.000000,3.607500
max,83731.000000,8.0,2.000000,2.000000,80.000000,24.000000,5.000000,7.000000,2.000000,239.000000,...,9.000000,99.000000,9.000000,167884.543709,171395.264901,2.000000,118.000000,99.000000,99.000000,5.000000